@page {margin: 2cm} 
body {background-color: hotpink; font-family: "Times New Roman", Times, serif;}
h1 {color:red;}
p {color:black;}
h2 {color:cyan;}
hr {color:purple;}
ul {color:blueviolet;}
li {color:blueviolet;}
h3 {color:white;}
img {width:20%; height:20%;}



     