@page {margin: 2cm} 
body {
    background-color: black; font-family: 'Akronim'; 
} /* nsn 2018-11-2: Changing the font and background color */

h1 {
    color:red;
    font-size: 40px;
    text-align: center;
} /* nsn 2018-11-2: Changing the header font-size and alignment */

p {
    color:black;
    background-color: red; 
    font-size: 25px;
} /* nsn 2018-11-2: Changing the background color and font-size of <p> */

h2 {
    color:cyan;
    font-weight: bold;
}

hr {
    color:purple;
}

ul {
    background-color:cyan; 
    color:blueviolet;
    font-weight: bold;
} /* nsn 2018-11-2: Changing the background color of the unordered list. */

li {
    color:blueviolet;
}

h3 {
    color:white; 
    font-family: "Impact", Charcoal, Sans-serif;
    font-size: 30px; 
} /* nsn 2018-11-2: Changing the font and size of header 3. */

img {
    width:20%; height:20%;
}

footer {
    font-size: 10px;
    font-weight: bold;
} /* nsn 2018-11-5: Changing the font size and weight of footer */



     